body {
  height: 100vh;
  color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
  background: #001177;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 7vw;
  text-align: center;
  margin-bottom: 2vh;
}

.header-title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3.5vh;
}

.logoContainer {
  display: flex;
  padding: 10px;
  justify-content: center;
  block-size: 120px;
  background-color: white;
  width: 100%;
}

.logo {
  width: 45%;
}

.st0 {
  fill: #ffffff;
}

.st1 {
  fill: #262261;
}

.st2 {
  fill: #808184;
}

.txtIdModulo {
  display: flex;
  inline-size: 100%;
  block-size: 5vh;
  align-items: center;
  justify-content: center;
  background-color: cadetblue;
  font-size: 3vh;
  border-radius: 5px;
  margin-block-end: 3vh;
}

.connection-type {
  display: flex;
  margin-block-end: 2vh;
}

.connection-type-title {
  font-size: 3.5vh;
  inline-size: 50%;
}

.connection-type-button {
  display: flex;
  inline-size: 50%;
  justify-content: end;
}

.formContainer {
  position: static;
  margin-block-start: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  inline-size: 100%;
  gap: 5vh;
}

.lblContainer {
  inline-size: 100%;
  display: block;
  font-size: 6vw;
}

.cmbGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  margin-inline-start: 5.5vw;
  margin-inline-end: 5.5vw;
}

.RbGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2vw;
  margin-inline-start: 5.5vw;
  margin-inline-end: 5.5vw;
}

.cmbContainer {
  inline-size: 100%;
  display: block;
  text-align: start;
  font-size: 6vw;
}

.submitGroup {
  margin-block-start: 6vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15vw;
}

.btnSubmit {
  inline-size: 50vw;
  block-size: 6vh;
  color: antiquewhite;
  font-size: 5vw;
  background-color: RGB(25, 135, 84);
  border: 1px solid RGB(25, 135, 84);
  border-radius: 5px;
}

.btnCancel {
  inline-size: 35vw;
  block-size: 10vw;
  color: antiquewhite;
  font-size: 5vw;
  background-color: RGB(238, 19, 55);
  border: 1px solid RGB(238, 19, 55);
  border-radius: 3px;
}

.subGroup {
  margin: 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: end;
  inline-size: 100%;
}

.subGroupPass {
  margin: 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: start;
  inline-size: 100%;
  gap: 1vh;
}

.txtPassword {
  inline-size: 100%;
  display: block;
  text-align: start;
  font-size: 6vw;
}

.subShow {
  font-size: 4vw;
  text-align: center;
  background-color: RGB(25, 135, 84);
}

.subButton {
  inset-inline-end: 0;
  inline-size: 25vw;
  padding: 2px;
  margin-block-start: 3px;
  text-align: center;
  background-color: RGB(25, 135, 84);
  border: 1px solid RGB(25, 135, 84);
  border-radius: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  inline-size: 60px;
  block-size: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(206, 23%, 58%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.advance-basic-form {
  display: flex;
  margin-top: 3.5vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.advance-basic-title {
  font-size: 2.5vh;
  width: 50%;
}

.advance-basic-button {
  display: flex;
  width: 50%;
  justify-content: end;
}

.form-create {
  position: absolute;
  top: 30vw;
  left: 2vh;
  background-color: aliceblue;
  height: 65vh;
  width: 90vw;
  z-index: 5;
  border-radius: 20px;
  background-color: #0017e700;
}

.form-create-success {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  height: 97%;
  border-radius: 20px;
  background-color: #052d69f1;
}

.form-create-success-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15vw;
  color: white;
}

.form-create-success-logo {
  display: flex;
  width: 50vw;
  height: 50vw;
  align-items: center;
  justify-content: center;
  font-size: 50vw;
  color: RGB(25, 135, 84);
  font-weight: 900;
  border-radius: 50%;
}

.form-create-success-button {
  width: 60vw;
  color: white;
  font-size: 2.5vh;
  font-weight: bold;
  text-align: center;
  background-color: RGB(25, 135, 84);
  border: 1px solid RGB(25, 135, 84);
  border-radius: 5px;
}

.form-create-failed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  height: 97%;
  border-radius: 20px;
  background-color: #052d69f1;
}

.form-create-failed-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15vw;
  color: white;
}

.form-create-failed-logo {
  display: flex;
  width: 50vw;
  height: 50vw;
  align-items: center;
  justify-content: center;
  font-size: 50vw;
  color: RGB(222, 49, 99);
  font-weight: 900;
  border-radius: 50%;
}

.form-create-failed-button {
  width: 60vw;
  color: white;
  font-size: 2.5vh;
  font-weight: bold;
  text-align: center;
  background-color: RGB(222, 49, 99);
  border: 1px solid RGB(222, 49, 99);
  border-radius: 5px;
}

.form-background {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(36, 37, 37, 0.829);
  height: 100vh;
  width: 100vw;
}

.form-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(23, 23, 24, 0.829);
  height: 15vh;
  width: 35vw;
  z-index: 5;
  border-radius: 20px;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid RGB(25, 135, 84);
  border-left: 4px solid transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
